body{
    padding: 0;
    margin: 0;
    background-color:#181818;
}
.wapper{
    margin-top: 30vh;
}
.toperror,.title{
display: block;
color: gray;
font-family: helvetica;
}
.toperror{
font-size: 100px;
margin-bottom: 0px;
}
.title{
    font-size: 70px;
    margin-top: 0;
}